.builder-content {
    overflow: scroll !important;
    height: 150px;
    padding: 5px 10px;
}

#Toolbar-Debug-And-Run {
color:#65ff65;
content: "";
background: url("images/run.svg") 0 0 no-repeat;
background-size:24px 24px;
width: 24px;
height: 24px;
}
.builder-table {
    width:100%;
}
.builder-table th {
    text-align: left;
}
.builder-table td {
    
    padding: 4px;
}
.builder-table  tr {
    margin: 2px;
    border-style: solid;
    border-color: #790000;
    border-width: 1px;
    
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.builder-table tbody tr {
    cursor: pointer;
    
}
.builder-table tbody pre {
    background-color: transparent;
}
.resizable-content-error {
    background-color: white;
}
.builder-content-result {
    background-color: white;
    padding: 5px;
}
.compiler-gutter { width: 1em; text-align: right; }
.cm-error {
    background-color:#d05353;
}
.panel_error {
    
}
.error-icon {
    background: url("images/error.svg") center center no-repeat;
    background-size:20px 20px;
    width: 25px;
    height: 25px;
}
