.builder-content {
    overflow: scroll !important;
    height: 150px;
    padding: 5px 10px;
}

#Toolbar-Debug-And-Run {
content: "";
background: url("images/live_development_sprites.svg") 0 0 no-repeat;
width: 24px;
height: 24px;
}

.CodeMirror-foldmarker {
    padding-right: 5px;
    padding-left: 5px;
    background: #eee;
    border: 1px solid #ddd;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 3px;
    color: #aaa;
    cursor: pointer;
}
.compiler-gutter { width: 1em; text-align: right; }
.compiler-error {
    background-color:red;
}
